
/* common  code */

.text_center{
    text-align: center;
}


.secondary_bg{
    background-color: aquamarine;
}

.text-primary{
    color: #FD6E0A;
    
}
.btn-primary{
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

.section_title{
    font-size: 35px;
    font-weight: bold;
}
 
.section_description{

}


/* common  code */












/* nav sltyle */



.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}





nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}


nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
    align-items: center;

}
nav a{
    text-decoration: none;
    font-size: 20px;
}




/*  */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}


.banner-griting{
    font-size: 30px;
    font-weight: 600;
}
.banner-title{
    font-size: 40px;
    font-weight: 800;
}

.banner-pic{
    width: 580px;
}




/*  */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about_items{
    display: flex;
    justify-content: space-around;
}
.item_description{
    font-weight: 600;
}




/* skils section css */

.skils_container{
    display: flex;
    gap: 24px;
}

.skil{
    padding: 35px;
    box-shadow: 0 6px 50px 0 gray ;
    border-radius: 10px;
}














































































































































.open-sansnormal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-title {
    font-weight: 800;
    font-size: 46px;

}
